API SOAP/WebContent/wsdl/funciones.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="nombrePropio">
    <complexType>
     <sequence>
      <element name="nombres" type="xsd:string"/>
      <element name="apPaterno" type="xsd:string"/>
      <element name="apMaterno" type="xsd:string"/>
      <element name="genero" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="nombrePropioResponse">
    <complexType>
     <sequence>
      <element name="nombrePropioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="nombrePropioResponse">

      <wsdl:part element="impl:nombrePropioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="nombrePropioRequest">

      <wsdl:part element="impl:nombrePropio" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="funciones">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="nombrePropio">

         <wsdl:input message="impl:nombrePropioRequest" name="nombrePropioRequest">

       </wsdl:input>

         <wsdl:output message="impl:nombrePropioResponse" name="nombrePropioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="funcionesSoapBinding" type="impl:funciones">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="nombrePropio">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="nombrePropioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="nombrePropioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="funcionesService">

      <wsdl:port binding="impl:funcionesSoapBinding" name="funciones">

         <wsdlsoap:address location="http://localhost:8080/API_SOAP/services/funciones"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
